참고디자인/
.참고자료/
*.xlsx
*.xls

# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
.vercel
